[Unit]
Description=Install edatec drivers
After=network-online.target time-sync.target
Wants=network-online.target
Requires=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/custom_scripts/install-edatec.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
