[Unit]
Description=IP Configurator Web Interface
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/apps/ip_configurator_executable
Restart=always
RestartSec=5
WorkingDirectory=/home/pi/apps

[Install]
WantedBy=default.target