[Unit]
Description=First Boot Script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/custom_scripts/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
